{namespace addthis=Tx_Addthis_ViewHelpers}
<!-- AddThis Button BEGIN -->
	<span class="tx_addthis">
		<span class="tx_addthis_label" style="float: left; padding-right:5px;">
			{label}
		</span>
		<span class="tx_addthis_buttons">
			<addthis:rawValue value="{html}" />
		</span>
	</span>
	<script type="text/javascript">
		<addthis:rawValue value="{config}" />
	</script>
	<f:if condition="{isTwoClick}">
		<f:then></f:then>
		<f:else>
			<script type="text/javascript" src="{urlDomIsNotReady}"></script>
		</f:else>
	</f:if>
	<script type="text/javascript">
		var tx_addthis_script_url = '{urlDomIsNotReady}';
		if('{ajaxcontent}'){
			var script = '{urlDomIsReady}';
			if (window.addthis){
				window.addthis = null;
			}
			$.getScript( script );
		}
	</script>
<!-- AddThis Button END -->