{namespace addthis=Tx_Addthis_ViewHelpers}
<!-- AddThis Button BEGIN -->
	<span class="tx_addthis">
		<f:if condition="{label}">
			<f:then>
				<span class="tx_addthis_label" style="float: left; padding-right:5px;">
					{label}
				</span>
			</f:then>
		</f:if>
		<span class="tx_addthis_buttons">
			<addthis:rawValue value="{html}" />
		</span>
	</span>
	<script type="text/javascript">
		<addthis:rawValue value="{config}" />
	</script>
	<f:if condition="{isTwoClick}">
		<f:then></f:then>
		<f:else>
			<script type="text/javascript" src="{urlDomIsNotReady}"></script>
		</f:else>
	</f:if>
	<script type="text/javascript">
		var tx_addthis_script_url = '{urlDomIsNotReady}';
		if('{ajaxcontext}'){
			var script = '{urlDomIsReady}';
			if (window.addthis){
				window.addthis = null;
				window._adr = null;
				window._atc = null;
				window._atd = null;
				window._ate = null;
				window._atr = null;
				window._atw = null;
			}
			$.getScript( script );
		}
	</script>
<!-- AddThis Button END -->