<phpunit colors="true" backupGlobals="false"
	backupStaticAttributes="false" syntaxCheck="false" stopOnFailure="false"
	convertErrorsToExceptions="true" convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">
	<!-- Add testclasses -->
	<testsuites>
		<testsuite name="addthis">
			<directory suffix="Test.php">./</directory>
		</testsuite>
	</testsuites>
</phpunit>
